body {
  
  background-color: #fffd98;


}

h1, h2{
  font-size:40pt;
  color:#6f4e37;
  font-family: 'Jua', sans-serif;
  
}

#center {
      width: 80%;

  top:0px;
  left:0px;
  right:0px;
  bottom:0px;
  margin:auto;
}

.emoji{
    
    width:30%;
    height:30%;
        display:inline;

}

form {
    
}