html {
    height: 100%;
}

body {
  background: -webkit-gradient(linear, left top, left bottom, from(#33ccff), to(#ff99cc)) fixed !important;
    background-repeat: no-repeat;
  
    height: 100%;
    margin: 0;
    background-attachment: fixed;
}

#heart{
  width:16%;
}

h1.myTitle{
  font-size:60pt !important;
  color:white !important;
 font-family: 'Itim', cursive;
  font-weight:400;
  margin-top:30px;
  
}


h1 img{
    width:90px;
    top:5px;
    left:20px;
    display:inline-block;
    position:relative;

}

h2{
    font-size:30pt;
  color:white !important;
  font-family: 'Sawarabi Mincho', sans-serif !important;
    font-weight:400;
    display:inline-block;
  
}

h3.myTitle3{
   font-size:20pt;
  color:white;
font-family: 'Roboto', sans-serif;
    font-weight:400;
    display:inline-block;
   left:80px;
  right:0px;
  top:166px;
  position:absolute;
  
}

h5{
	 color:white !important;
  font-family: 'Sawarabi Mincho', sans-serif !important;
    font-weight:400;
}

.span-text{
		 color:white !important;
  font-family: 'Sawarabi Mincho', sans-serif !important;
    font-weight:400;
}

.ifeel{
	display:inline;
}

.form-control{

   background-color:rgba(0, 0, 0, 0) !important;
    color:white !important;
    border: 1.3px solid !important;
    outline:none;
    height:30px;
    transition:height 1s;
    -webkit-transition:height 1s;
}

.form-control-select{
  width:100px;
   background-color:rgba(0, 0, 0, 0) !important;
    color:white !important;
    border: 1.3px solid !important;
    outline:none;
      height:30px;
  background-color: #33ccff;
    transition:height 1s;
    -webkit-transition:height 1s;
}

.form-control-select option{
    background-color: #0086b3;

}


::placeholder {
    color: white !important;
    opacity: 0.6 !important; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color: white;
}

::-ms-input-placeholder { /* Microsoft Edge */
   color: white;
}

#inputdefault {
	width:200px;
}


#category{
  text-align: center;
  position:relative;
  top:100px;
}




.emoji{
    
    width:10%;
    height:30%;
        display:inline;
}

i {
  border: solid white;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}



.up {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
}

.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

#category {
    
    position:relative;
    top:170px;
  text-align: center;
}

.btn {
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  background:  #014E85;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
      border-width: 3px;
  border-color:white;

}

.btn:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}


#dayButton {
  position:relative;
  left:-40px;
    top:90px;

    cursor: pointer;

}

#statsButton {
  position:relative;
  left:70px;
  top:90px;
    cursor: pointer;
}


#weekButton {
  position:relative;
  left:0px;
  right:0px;
    cursor: pointer;
}

#indiButton {
  position:relative;
  left:160px;
  top:90px;
  right:0px;
    cursor: pointer;
}

#moodDisp {
    
    position:relative;
}

/* width */
::-webkit-scrollbar {
  width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 40px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: white; 
  border-radius: 40px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #E0E0E0; 
}
