body {
  
  background-color: #014E85;

}

h1{
  font-size:70pt;
  color:white;
font-family: 'Roboto', sans-serif;
    font-weight:400;
}

h1 img{
    width:10%;
    display:inline-block;
}

h2{
    font-size:30pt;
  color:white;
font-family: 'Roboto', sans-serif;
    font-weight:400;
    display:inline-block;
}

#subtitle{
    position: relative;
    font-size:20pt;
    top:-80px;
    font-family: 'Roboto', sans-serif;
    font-weight:300;

}

#center {
      width: 75%;
  top:0px;
  left:0px;
  right:0px;
  bottom:0px;
  margin:auto;
}

#month{
    
    
}


#display{
    position:relative;
    top:60px;
    left:0px;
    right:0px;
    color:white;
    font-family: 'Roboto', sans-serif;
    font-weight:400;
    text-align: center;

}

.emoji{
    
    width:10%;
    height:30%;
        display:inline;
}

#month{
        font-size:26pt;

}

#date{
        font-size:50pt;

}

#weekday{
        font-size:30pt;

}
#date {
    display:inline-block;
}

i {
  border: solid white;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}

.right {
    position:absolute;
    right:280px;
      width:20px;
    height:20px;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

.left {
    position:absolute;
    left:280px;
    width:20px;
    height:20px;
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}

.up {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
}

.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

#category {
    
    position:relative;
    top:-70px;
}

#dayButton {
    position:absolute;
        cursor: pointer;

}

#dayButton:hover {
    border-bottom: 3px solid white;
    -webkit-animation-name: underline; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 1s; /* Safari 4.0 - 8.0 */
    animation-name: underline;
    animation-duration: 1s;

}

#weekButton:hover {
    border-bottom: 3px solid white;
    -webkit-animation-name: underline2; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 1s; /* Safari 4.0 - 8.0 */
    animation-name: underline2;
    animation-duration: 1s;

}

#indiButton:hover {
    border-bottom: 3px solid white;
    -webkit-animation-name: underline3; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 1s; /* Safari 4.0 - 8.0 */
    animation-name: underline3;
    animation-duration: 1s;

}

@keyframes underline {
    from {width: 0px;}
    to {width: 86.33px;}
}

@keyframes underline2 {
    from {width: 0px;}
    to {width: 126.17px;}
}


@keyframes underline3 {
    from {width: 0px;}
    to {width: 191px;}
}


#weekButton {
    position:absolute;
    left:120px;
    cursor: pointer;
}

#indiButton {
    position:absolute;
        left:270px;
        cursor: pointer;


}

#moodDisp {
    
    position:relative;
}

#mainmood{
    position:absolute;
    top:190px;
    left:40%;
    right:0px;
    width:20%;
    height:auto;
}

#mainstat{
    position:absolute;
    left:700px;
    top:300px;
    font-size:40pt;
}

#substat{
    position:absolute;
    top:500px;
    left:700px;
        font-size:35pt;

}

#submood{
    
      position:absolute;
    top:420px;
    left:42%;
    right:0px;
    width:12%;
    height:auto;
}

#emotionInput{
    position:relative;
}

#emotionInput h2{
    position:absolute;
    top:500px;
}

#userInputs{
    
    position:absolute;
    top:650px;
}

.text-line {
    background-color: transparent;
    color: #eeeeee;
    outline: none;
    outline-style: none;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: solid #eeeeee 1px;
    padding: 3px 10px;
}

#uname {
        font-size:20pt;
    width:120px;

}
#ucontent {
    width:500px;
    font-size:15pt;
}

.text-line2 {
    background-color: transparent;
    color: #eeeeee;
    outline: none;
    outline-style: none;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: solid #eeeeee 1px;
    padding: 3px 10px;
}


label{
     font-size:17pt;
  color:white;
font-family: 'Roboto', sans-serif;
    font-weight:400;
    display:inline-block;
}

::placeholder {
    color: white;
    opacity: 0.5; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color: white;
}

::-ms-input-placeholder { /* Microsoft Edge */
   color: white;
}

#my-icon-select{
    display:inline-block;
}

#about{
    top:100px;
    position:absolute;
    left:200px;
}

#ucontent{
        top:100px;

    position:absolute;
    left:260px;
}






